html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.App {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}
