.home {
    width: 70%;
    float: right;
    box-sizing: border-box;
    margin-top: 50px;
    ul {
        margin: 0;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;

        li.item {
            list-style:none;
            max-width: 250px;
            width: 100%;
            margin: 10px;
            height: 50px;
            border-bottom: 1px solid #ddd;
            font-size: 22px;
            font-weight: lighter;
            h3 {
                display: inline-block;
                font-size: 15px;
            }
            a {
            text-decoration: none;
            color: #333;
            display: inline-block;
            width: 100%;
            height: 100%;
            }
        }
    }
}