.main_section {
    position: relative;
    width: 100%;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    &:after {
        content: '';
        position: absolute;
        top: -10%;
        right: -10%;
        width: 40%;
        height: 200%;
        background-color: #181818;
        transform: rotate(37deg);
    }

    .changeTopBtn{
        position: fixed ;
        width: 100%;
        height: 40px;
        line-height: 40px;
        z-index: 2;
        display: block;
        ul {
            display: flex;
            background-color: #333;
            box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);
            transition: all .2s ease-in-out;

            li{
                width: 50%;
                text-align: center;
                color: #fff;
                cursor: pointer;
                span {
                    font-size: 20px;
                    margin-right: 10px;
                }
                &:nth-child(2){
                    border-radius: 40px;
                    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.5);
                }
            }
        }
    }
    .topBtn {
        position: fixed ;
        z-index: 2;
        bottom: 10px;
        ul {
            display: flex;
            flex-direction: column;
            li{
                transition: all .2s ease-in-out;
               display: flex;
               width: 70px;
               height: 70px;
               line-height: 75px;
               text-align: center;
               border-radius: 50%; 
               margin: 10px;    
               box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);
                background-color: #333;
                font-size: 25px;
                span {
                    font-size: 0px;
                }
            }
        }
    }
    .mainImg {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        box-sizing: border-box;
        
        img{
            width: 100%;
            box-sizing: border-box;
        }
 
    }
    .mainDesc {
        position: absolute;
        bottom: 7%;
        right: 4%;
        max-width: 20%;
        color: #fff;
        z-index: 1;
        text-align: center;
        h2{
            font-size: 2.5rem;
            position: relative;
        }
        .middleLine {
            position: relative;
            display: block;
            width: 1px;
            height: 50px;
            background-color: #fff;
            margin: 30px auto;

        }
        p{
            font-size: 1.4rem;
            line-height: 1.5;
        }

    &:before {
        content: '';
    }
    p {
        bottom: 0;
        color: #fff;
    }
    }
    
}