.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    height: 100%;
    padding-top: 100px;
}

p {
    margin: 0;
    margin-bottom: 30px;
    font-size: 20px;
}

.goHome {
    color: red;
    border-bottom: 1px solid red;
    font-size: 25px;
}


@media only screen and (max-width: 800px) {
    .notFound {
        display: flex;
        width: 100%;
        padding: 50px;
    }
}
